@font-face {
    font-family: 'Mazzard';
    src: local('Mazzard H Regular'), local('Mazzard-H-Regular'),
        url('/assets/fonts/MazzardH-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard B';
    src: local('Mazzard L SemiBold'), local('Mazzard-L-SemiBold'),
        url('/assets/fonts/MazzardL-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}





* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





h1,
h2,
h3,
h4,
h5 {
    color: white;
}

h1 {
    font-size: 3.85vw;
    letter-spacing: 1.5px;
    font-family: "Mazzard";
    font-weight: 300;
}

h2 {
    font-size: 6.65vw;
    letter-spacing: 1.05vw;
    font-family: "Mazzard B";
    font-weight: 600;
}

h3 {
    font-size: 2.45vw;
    font-weight: 400;
    font-family: "Mazzard";
}

h4 {
    font-size: 2.5vw;
    font-family: "Mazzard";
    font-weight: 400;
}

h5 {
    font-size: 1.8vw;
    font-family: "Mazzard";
    font-weight: 400;
}

main {
    background-color: #262626;
}

a {
    text-decoration: none;
}





/*header*/
header {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    padding: 1% 8%;
    border-bottom: 1px solid #989898;
}

nav {
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

ul {
    display: flex;
    gap: 1vw;
}

ul li {
    list-style: none;
    font-size: 1.25vw;
    color: white;
    font-family: "Mazzard";

}

nav button {
    font-family: "Mazzard";
    font-size: 1.25vw;
    padding: 1vw;
    width: 13vw;
    border-radius: 0.5vw;
    border: none;
    background-image: linear-gradient(120deg, #3A00B7 18%, #8301C3 82%, #CC02CE 100%);
    color: white;
}

header img {
    width: 17vw;
}





/*footer*/

footer {
    background-image: linear-gradient(to right bottom, #3A00B7 25%, #8301C3 63%, #CC02CE 89%);
    display: flex;
    padding: 3% 8%;
    justify-content: space-between;
    align-items: center;
}

.about_platform p {
    font-size: 1.4vw;
    color: white;
    font-family: "Mazzard";
    font-weight: 300;
}

.about_social p,
.block_2_footer p {
    font-size: 1.4vw;
    color: white;
    font-family: "Mazzard";
    font-weight: 400;
}

.block_2_footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
}

.about_social {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

.block_1_footer {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    img {
        width: 17vw;
    }
}

.social_media {
    display: flex;
    align-items: center;
    gap: 1vw;

    img {
        width: 3vw;
    }
}




nav button {
    font-family: "Mazzard";
    font-size: 1.25vw;
    padding: 1vw;
    width: 13vw;
    border-radius: 0.5vw;
    border: none;
    background-image: linear-gradient(120deg, #3A00B7 18%, #8301C3 82%, #CC02CE 100%);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
}

nav button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent);
    transition: left 0.7s ease;
    z-index: -1;
}

nav button:hover::before {
    left: 100%;
}

nav button:hover {
    background-image: linear-gradient(120deg, #4A11C7 18%, #9315D3 82%, #D416E8 100%);
}

a:hover {
    transition: all 0.4s ease;
    transform: scale(1.05);
}

.modal_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.modal {
    color: black;
    font-family: "Mazzard";
}


.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Полупрозрачный черный фон */
}

.modal_content_edit {
    background-color: #262626;
    margin: 15% auto;
    padding: 20px 20px 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    gap: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        font-family: "Mazzard";
    font-size: 1.25vw;
    padding: 1vw;
    width: 70%;
    border-radius: 0.5vw;
    border: none;
    background-image: linear-gradient(120deg, #3A00B7 18%, #8301C3 82%, #CC02CE 100%);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
    }

    button::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,
                transparent,
                rgba(255, 255, 255, 0.2),
                transparent);
        transition: left 0.7s ease;
        z-index: -1;
    }

    button:hover::before {
        left: 100%;
    }

    button:hover {
        background-image: linear-gradient(120deg, #4A11C7 18%, #9315D3 82%, #D416E8 100%);
    }


}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_ {
    display: flex;
    position: relative;
    align-self: flex-end;
}

h5 {
    color: white;
    font-weight: 500;
}